### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# === BUILD & COMPILED FILES ===
*.class
*.war
*.jar
*.log
*.iml
target/
build/
build.gradle.lockfile
.gradle/
.idea/

# === OS / ENVIRONMENT ===
*.swp
*.swo
*.tmp

# === JAVA / RMI ===
*.policy
*.rmiregistry

# === TOMCAT DEPLOYMENT OUTPUT ===
webapps/
logs/
temp/
work/
